include LICENSE
include README.zh-CN.md
include requirements-tested.txt
include THIRD_PARTY.md
include .gitignore
recursive-include .github *.yml
recursive-include configs *.json
recursive-include docs *.md *.json
recursive-include scripts *.py
recursive-include tests *.py
